@tailwind base;
@tailwind components;
@tailwind utilities;

p {
  @apply text-[15px];
}

@font-face {
  font-family: 'Lexend Deca';
  font-weight: 400;
  src: url('./assets/fonts/lexend_deca/LexendDeca-Regular.ttf');
}

@font-face {
  font-family: 'Big Shoulders Display';
  font-weight: 700;
  src: url('./assets/fonts/big_shoulders_display/BigShouldersDisplay-Bold.ttf');
}

#root {
  @apply w-screen min-h-screen flex justify-center items-center;
}

.btn-learn-more-sedans {
  color: hsl(31, 77%, 52%);
}

.btn-learn-more-suvs {
  color: hsl(184, 100%, 22%);
}

.btn-learn-more-luxury {
  color: hsl(179, 100%, 13%);
}
